#cart-container{
  grid-template-columns: table-row;
  border: 1px solid #ccc;
  padding: 20px;
}

.tarjeta-producto{
  display: flex;
  align-items: center;
  height: 100px;
  gap: 20px;
}

.tarjeta-producto img{
  height: 100%;
}

.tarjeta-producto h3{
  width: 130px;
}
.tarjeta-producto div{
  background-color: var(--color-acento-claro);
  color: var(--color-acento);

  padding: 3px;
  border-radius: 5px;
}
.precio-original {
  text-decoration: line-through;
  color: #000;
  font-weight: bold;
}

.precio-descuento {
  color: #e63946;
  font-weight: bold;
  font-size: 18px;
}

#carrito-vacio{
  text-align: center;
}
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  background-color: #25D366;
  color: white;
  font-size: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 70px;
  box-shadow: 0 5px 6px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}

span {

  color: blanchedalmond;
}

.whatsapp-float:hover {
  transform: scale(1.1);
  color: white;
  text-decoration: none;
}