::-webkit-scrollbar {
  width: 0.625rem;
  height: 0.625rem;
}
::-webkit-scrollbar-thumb {
  background: #111;
  border-radius: 0.3125rem;
  box-shadow: inset 0.125rem 0.125rem 0.125rem rgba(255, 255, 255, 0.25),
    inset -0.125rem -0.125rem 0.125rem rgba(0, 0, 0, 0.25);
  cursor: default;
}

::-webkit-scrollbar-track {
  background: #333;
}
::selection {
  background: #fff;
  color: #333;
}

html,
body {
  margin: 0;
  overflow-x: hidden;
}
body {
  display: center;
  grid-template-rows: calc(20dvh - 2rem) 2rem;
  font-family: system-ui, sans-serif;
  min-height: 100vh;
}

.background-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
}

canvas,
.editor,
#controls {
  grid-row: 1;
  grid-column: 1;
}

#canvas {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50vh;
  z-index: -1;
}

.animated-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  opacity: 0;
  animation: fadeInUp 1.5s ease-in-out forwards;
  width: 90%;
}

.animated-text h3 {
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.animated-text.button {
  display: inline-block;
  background-color: #c28a2d;
  color: white;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 1rem;
  transition: background 0.3s ease-in-out;
}

.animated-text.button:hover {
  background-color: #a8741a;
}

.editor {
  color: #fefefe;
  tab-size: 2;
  border: none;
  resize: none;
}
.editor:focus {
  outline: none;
}
  auto {
    transform: scale(1);
  }

.hidden {
  display: none!important;
}
.opaque {
  opacity: 1!important;
  background: #111!important;
}
input {
  all: unset;
  opacity:.2;
  filter: saturate(0) invert(1);
  cursor: pointer;
  transition: opacity 200ms ease-in-out;
  padding:.25em.5em;
}
input:hover {
  opacity: 1;
}
.icon {
  text-align: center;
  line-height: 1;
}
#btnToggleView {
  width: 1.25em;
}
#btnToggleView::after {
  content: '👁';
}
#btnToggleView:checked::after {
  content: '✏️';
}
#btnToggleResolution::after {
  content: '1️⃣';
}
#btnToggleResolution:checked::after {
  content: '2️⃣';
}
#btnReset::after {
  content: '⏮️';
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.0125);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 1024px) {
 .animated-text {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
 .animated-text {
    font-size: 1.4rem;
  }
}

@media (max-width: 480px) {
 .animated-text {
    font-size: 1rem;
  }
 .animated-text.button {
    padding: 0.5rem 1rem;
  }
}